################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


/Minecraft_Cheats_Lib/bin
/Minecraft_Cheats_Lib/obj
/PS3Lib/bin
/PS3Lib/obj
/PS3LibNew/obj

/Better_Craft/bin
/Better_Craft/obj
